<a href="https://colab.research.google.com/github/marcin119a/PUMP2/blob/main/puste_UO_Podstawy_uczenia_maszynowego_Zajecia_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd


tips = pd.read_csv('https://raw.githubusercontent.com/marcin119a/PODSTAWY-UCZENIA-MASZYNOWEGO-W-PYTHONIE-/main/tips.csv')


Zbiór danych "tips" to popularny zestaw danych zawarty w bibliotece Seaborn. Zawiera informacje na temat faktur wystawionych w fikcyjnym restauracji. Zbiór składa się z kilku kolumn, które zawierają różne informacje dotyczące poszczególnych rachunków, takie jak:


* total_bill: Całkowita kwota rachunku, obejmująca opłatę za posiłek i ewentualne napiwki.
* tip: Kwota napiwku pozostawiona przez klienta.
* sex: Płeć osoby płacącej rachunek (mężczyzna lub kobieta).
* smoker: Czy osoba płacąca rachunek jest paląca (Yes - tak, No - nie).
* day: Dzień tygodnia, w którym odbył się posiłek.
* time: Czy posiłek był serwowany w porze lunchu czy kolacji.
*  size: Liczba osób przy stole.

Oto kilka zadań związanych z zbiorem danych "tips":

1. Oblicz średnią wartość rachunku dla wszystkich płci.
2. Porównaj średnią wartość napiwku dla palących i niepalących gości.
3. Sprawdź, który dzień tygodnia jest najbardziej popularny w restauracji na podstawie liczby obsłużonych gości.
4. Oblicz procentowy udział płci w całkowitej liczbie gości.
5. Znajdź dzień tygodnia, w którym goście zostawiają największe napiwki.
6. Porównaj średnią wartość rachunku dla grup o różnej liczbie osób przy stole.
7. Oblicz procentowy udział lunchu i kolacji w całkowitej liczbie posiłków.
8. Znajdź najczęściej występujący rozmiar grupy.

Te zadania pozwalają na eksplorację i analizę różnych aspektów zbioru danych "tips" i mogą dostarczyć ciekawych wniosków na temat zachowań klientów w restauracji.

W celu rozwiązania tych zadań można użyć różnych funkcji i metod dostępnych w bibliotece pandas, takich jak mean(), max(), min(), groupby(), value_counts(), sum(), oraz dodawanie nowych kolumn poprzez operator.

Oblicz średnią wartość rachunku dla wszystkich płci:

Porównaj średnią wartość napiwku dla palących i niepalących gości:

Sprawdź, który dzień tygodnia jest najbardziej popularny w restauracji na podstawie liczby obsłużonych gości:

Oblicz procentowy udział płci w całkowitej liczbie gości:

Znajdź dzień tygodnia, w którym goście zostawiają największe napiwki:

Porównaj średnią wartość rachunku dla grup o różnej liczbie osób przy stole:

Oblicz procentowy udział lunchu i kolacji w całkowitej liczbie posiłków:

Znajdź najczęściej występujący rozmiar grupy:

## Zadanie 2

1. Wczytaj danę do zmiennej df_income z poniższego kodu.
2. Wyświetl, 10 ostatnich i pierwszych wierzy tej ramki.
3. Sprawdź, ile ramka ma wierzy i kolumn za pomocą .shape .
4. Odfiltruj te kraję, które mają PKB na osobę mniejsze niż 2500.
5. Dodaj kolumnę, w której będzie informacja o całkowitym PKB. (Hint: wystarczy wymnożyć PKB na osobę z populacją).
6. Policz średnią dla PKB na osobę dla wszystkich krajów za pomocą .mean() .
7. Policz medianę dla PKB na osobę i Populacji  za pomocną .median() .
8. Ile jest krajów z Północnej Ameryki, które mają poniżej 100 000 populacji?
9. Zapisz te kraje do pliku CSV.

Zbior danych dotyczy informacje z różnych krajów, włączając w to dane takie jak:

* Kraj (Country)
* Produkt krajowy brutto na mieszkańca (GDP per capita)
* Średnia długość życia (Life expectancy)
* Populacja (Population)
* Kontynent (Continent)

Przykład danych dla kraju Lesotho jest następujący:

* Kraj: Lesotho
* Produkt krajowy brutto na mieszkańca: 2598
* Średnia długość życia: 47.1
* Populacja: 2174645
* Kontynent: Afryka (Africa)

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/marcin119a/PODSTAWY-UCZENIA-MASZYNOWEGO-W-PYTHONIE-/main/income.csv', sep=';')

df.head()

,Country,GDP per capita,Life expectancy,Population,Continent
0,Lesotho,2598,47.1,2174645,Africa
1,Central African Republic,599,49.6,4546100,Africa
2,Swaziland,6095,51.8,1319011,Africa
3,Afghanistan,1925,53.8,33736494,Asia
4,Somalia,624,54.2,13908129,Africa

Oto kilka zadań związanych z filtrowaniem danych w bibliotece pandas dla zbioru danych "Country":

1. Wyświetl informacje tylko o krajach z kontynentu Afryka (Africa).
2. Znajdź kraje, w których średnia długość życia przekracza 80 lat.
3. Wybierz kraje, których populacja jest większa niż 10 milionów.
4. Znajdź kraj o najwyższym dochodzie na mieszkańca.
5. Zidentyfikuj kraje, które mają niski dochód na mieszkańca, ale długą średnią długość życia.
6. Wybierz kraje, których populacja znajduje się w przedziale od 5 do 10 milionów.
7. Znajdź kraje, których dochód na mieszkańca jest poniżej średniej, ale mają wysoką średnią długość życia.
8. Wyświetl informacje tylko o krajach o populacji większej niż 1 milion i średniej długości życia większej niż 70 lat.
9. Znajdź kraje, które mają wysoki dochód na mieszkańca i niską populację.
10. Wybierz kraje, które znajdują się na kontynencie poza Afryką i mają dochód na mieszkańca powyżej 5000.

W celu rozwiązania tych zadań można użyć różnych funkcji i metod dostępnych w bibliotece pandas, takich jak mean(), query(), sum(), oraz dodawanie nowych kolumn poprzez operator [].

1. Wyświetl informacje tylko o krajach z kontynentu Afryka (Africa):

Znajdź kraje, w których średnia długość życia przekracza 80 lat:

Wybierz kraje, których populacja jest większa niż 10 milionów:

Znajdź kraj o najwyższym dochodzie na mieszkańca:

Zidentyfikuj kraje, które mają niski dochód na mieszkańca, ale długą średnią długość życia:

Wybierz kraje, których populacja znajduje się w przedziale od 5 do 10 milionów:

Znajdź kraje, których dochód na mieszkańca jest poniżej średniej, ale mają wysoką średnią długość życia:

Wyświetl informacje tylko o krajach o populacji większej niż 1 milion i średniej długości życia większej niż 70 lat:

Znajdź kraje, które mają wysoki dochód na mieszkańca i niską populację:

Wybierz kraje, które znajdują się na kontynencie poza Afryką i mają dochód na mieszkańca powyżej 5000:

# Zadanie 3

Jest to popularny zbiór danych zawierający informacje dotyczące pasażerów na statku Titanic, który zatonął w 1912 roku. Zbiór danych "Titanic" zawiera różne kolumny, takie jak:

* Survived: Czy pasażer przeżył (0 - Nie, 1 - Tak)
* Pclass: Klasa biletu (1 - Pierwsza klasa, 2 - Druga klasa, 3 - Trzecia klasa)
* Sex: Płeć pasażera
* Age: Wiek pasażera
* SibSp: Liczba rodzeństwa/małżonków na pokładzie
* Parch: Liczba rodziców/dzieci na pokładzie
* Fare: Opłata za bilet

In [ ]:
import pandas as pd

titanic_df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Oto kilka zadań związanych z grupowaniem, filtrowaniem i operacjami agregującymi na zbiorze danych "Titanic":

1. Znajdź średni wiek pasażerów na Titaniku.
2. Oblicz najwyższą cenę biletu na Titanicu.
3. Zgrupuj pasażerów według klasy biletu (Pclass) i oblicz średnią cenę biletu dla każdej klasy.
4. Znajdź najmłodszego i najstarszego pasażera na Titaniku.
5. Wybierz pasażerów, którzy przetrwali katastrofę (Survived = 1) i mieli wiek poniżej 18 lat.
6. Oblicz sumę opłat za bilety dla pasażerów z każdego portu (Embarked).
7. Dodaj nową kolumnę o nazwie "FamilySize", która będzie sumą kolumn "SibSp" i "Parch" (liczba rodzeństwa/małżonków oraz liczba rodziców/dzieci).
8. Zgrupuj pasażerów według płci (Sex) i oblicz medianę wieku dla każdej płci.
9. Wybierz pasażerów, którzy mieli najwyższą opłatę za bilet spośród tych, którzy przeżyli (Survived = 1).

W celu rozwiązania tych zadań można użyć różnych funkcji i metod dostępnych w bibliotece pandas, takich jak mean(), max(), min(), groupby(), filter(), sum(), oraz dodawanie nowych kolumn poprzez operator [] lub funkcję query().

1. Znajdź średni wiek pasażerów na Titaniku.

2. Oblicz najwyższą cenę biletu na Titanicu.

3. Zgrupuj pasażerów według klasy biletu (Pclass) i oblicz średnią cenę biletu dla każdej klasy.

4. Znajdź najmłodszego i najstarszego pasażera na Titaniku.

5. Wybierz pasażerów, którzy przetrwali katastrofę (Survived = 1) i mieli wiek poniżej 18 lat.

6. Oblicz sumę opłat za bilety dla pasażerów z każdego portu (Embarked).

7. Dodaj nową kolumnę o nazwie "FamilySize", która będzie sumą kolumn "SibSp" i "Parch".

8. Zgrupuj pasażerów według płci (Sex) i oblicz medianę wieku dla każdej płci.

9. Wybierz pasażerów, którzy mieli najwyższą opłatę za bilet spośród tych, którzy przeżyli (Survived = 1).